{% extends 'base.html.twig' %}

{% block title %}Modifier un Pokemon{% endblock %}

{% block body %}
    <h1 class="text-center mb-4">Modifier {{ pokemon.name }}</h1>

    <div class="container d-flex justify-content-center">
        <div class="col-md-8 col-lg-6">

            {{ form_start(form, {'attr': {'enctype': 'multipart/form-data'}}) }}

                <div class="mb-3">
                    {{ form_label(form.number) }}
                    {{ form_widget(form.number, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(form.number) }}
                </div>

                <div class="mb-3">
                    {{ form_label(form.name) }}
                    {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(form.name) }}
                </div>

                <div class="mb-3">
                    {{ form_label(form.hp) }}
                    {{ form_widget(form.hp, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(form.hp) }}
                </div>

                <div class="mb-3">
                    {{ form_label(form.attack) }}
                    {{ form_widget(form.attack, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(form.attack) }}
                </div>

                <div class="mb-3">
                    {{ form_label(form.defense) }}
                    {{ form_widget(form.defense, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(form.defense) }}
                </div>

                <div class="mb-3">
                    {{ form_label(form.spe_attack) }}
                    {{ form_widget(form.spe_attack, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(form.spe_attack) }}
                </div>

                <div class="mb-3">
                    {{ form_label(form.spe_defense) }}
                    {{ form_widget(form.spe_defense, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(form.spe_defense) }}
                </div>

                <div class="mb-3">
                    {{ form_label(form.speed) }}
                    {{ form_widget(form.speed, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(form.speed) }}
                </div>

                <div class="mb-3">
                    {{ form_label(form.types) }}
                    <div class="d-flex flex-wrap justify-content-center">
                        {% for type in form.types %}
                            <div class="form-check form-check-inline ps-0">
                                {{ form_widget(type, {'attr': {'class': 'form-check-input'}}) }}
                                {{ form_label(type, null, {'attr': {'class': 'form-check-label'}}) }}
                            </div>
                        {% endfor %}
                    </div>
                    {{ form_errors(form.types) }}
                </div>

                <div class="mb-3">
                    {{ form_label(form.image) }}
                    {{ form_widget(form.image, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(form.image) }}
                </div>

                <button class="btn btn-success col-12">{{ button_label|default('Valider') }}</button>

            {{ form_end(form) }}

            <a href="{{ path('home') }}" class="btn btn-primary mt-3 col-12">
                <i class="bi bi-house"></i> 
                <span>Revenir à la liste</span>
            </a>

        </div>
    </div>

{% endblock %}